:root {
    --main-font-color: #121212ff;
    --main-font-link: #000000;
    --alt-font-color: #FFFBF5;
    --main-background-color: #ffffff;
    --alt-navbar-color: #efefef;
    --primary-color: #EA5455;
    --secondary-color: #002B5B;
    --inventary-color: #dcb9b2;
    --inventary-alt: #9f8d99;
    --primary--button: #9d2e2e;
    --primary--button--hover: #631b1b;
    --secondary--button--hover: #c04141;
}

* {
    margin: 0;
    padding: 0;
    font-size: 16px;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    list-style: none;
}

body {
    display: grid;
    grid-template-areas: " header header"
        "nav    main";
    grid-template-columns: 1.3fr 6fr;
    grid-template-rows: 5em auto;
    height: 100vh;
    width: 100%;
    max-width: 1800px;
    margin: 0 auto;
}

main {
    grid-area: main;
}

/* Propiedades generales de los botones */
button {
    -webkit-appearance: none;
    border-radius: 0;
    display: inline-block;
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
}

/* =====      HEADER SECTION                */

.header--container {
    grid-area: header;
    background-color: var(--alt-navbar-color);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    width: 100vw;
    max-width: 1800px;
    gap: 5em;
    padding: 0 1em;
    flex: 1 1 100%;
}

.logo--container {
    width: 10em;
}

.web__title {
    font-size: 1.5em;
    font-weight: 300;
}

/* ==== NAV SECTION  ========*/
.nav--inventario {
    grid-area: nav;
    display: grid;
    background-color: var(--inventary-color);
    width: 100%;
    height: 100%;
}

.nav_button--inventario {
    background-color: var(--inventary-color);
    color: var(--alt-font-color);
    width: 100%;
    padding: 0.9em 0;
    border: none;
    border-bottom: 1px solid var(--alt-navbar-color);

}

.nav_button--inventario:hover {
    background-color: var(--secondary--button--hover);
}

/*  ==========      SECTION  ==========*/

.hidden {
    display: none;
}

section {
    padding: 2em 3em;
}

.section__title {
    font-size: 1.8em;
    margin-bottom: 1.5em;
}

.section__description {
    margin-bottom: 1em;
}

.all-sections {
    overflow: auto;
}

input {
    -webkit-appearance: none;
}

th {
    color: var(--alt-font-color);
    font-weight: 300;
    font-size: 0.9em;
    padding: 0.3em 0.5em;
    background-color: #002B5B;
}

td {
    font-size: 0.8em;
    text-align: left;
}

.all-sections button {
    -webkit-appearance: none;
    /* display: flex; */
    background-color: var(--primary--button);
    margin: 0 auto;
    color: var(--alt-font-color);
    padding: 0.5em 0.8em;
    border: 1px solid transparent;
    border-radius: 8px;
    cursor: pointer;
    margin-bottom: 2em;
    transition: all ease 150ms;
}

.all-sections button:hover {
    transform: scale(101%);
    background-color: var(--secondary--button--hover);
}

.sneaker__img {
    position: relative;
    height: 4em;
    left: 1em;
    bottom: -2em;
    transition: all 250ms ease-in;
}

.all-sections button:active~.sneaker__img {
    transform: rotateZ(360deg);
    transform-origin: bottom botom;
}

.all-sections label {
    display: inline-block;
    width: 10em;
    margin-bottom: 0.8em;
}

/* ======== ESTILANDO INPUTS */
.all-sections input {
    padding: 0.6em 0.3em 0.1em;
    outline: none;
    border: none;
    border-bottom: 2px solid var(--secondary-color);

}

.all-sections input:focus, textarea:focus {
    -webkit-appearance: none;
    background-color: var(--alt-navbar-color);
}

.input__id {
    position: relative;
    width: 4em;
    text-align: right;
}

.alta__productos--container .textarea--alta,.textarea--modificar  {
    margin: 1.3em 0;
    vertical-align: top;
}

.all-sections textarea {
    padding: 0.4em 0.3em 0.1em;
    outline: none;
    border: none;
    border-bottom: 2px solid var(--secondary-color);
    margin: 0.9em 0;
}