/* COSAS A SOLUCIONAR:
-MEDIAQUERY para hacer responsive el .carousel__track-container
-MEDIAQUERY para hacer responsive el .footer--container
-Mejorar el sistema de clases.
*/


/* ATRIBUTOS GENERALES - ROOT - BTN STYLE */
:root {
    --main-font-color: #121212ff;
    --main-font-link: #000000;
    --alt-font-color: #FFFBF5;
    --main-background-color: #ffffff;
    --alt-navbar-color: #efefef;
    --primary-color: #EA5455;
    --secondary-color: #002B5B;
    --secondary-color-hover: #0d55a7;
    --inventary-color: #dcb9b2;
    --inventary-alt: #9f8d99;
    --primary--button: #9d2e2e;
    --primary--button--hover: #631b1b;
    --secondary--button--hover: #c04141;
}

* {
    margin: 0;
    padding: 0;
    font-size: 16px;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    list-style: none;
}

a {
    text-decoration: none;
}

/* HEADER Y NAVBAR */
header {
    position: sticky;
    background-color: var(--main-background-color);
    top: 0;
    z-index: 100;
}

.header--container  {
    width: 100%;
    max-width: 1920px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--main-background-color);
    margin: 0 auto;
    height: 10vh;
    padding: 0 3%;
}

.header--container.scroll {
    background-color: var(--alt-navbar-color);
}

.logo__img {
    object-fit: cover;
    width: 10rem;
}

.logo--container{
    max-width: 39rem;
    display: flex;
    flex-shrink: 0.7;
    justify-content: center;
}

.logo--container a{
    display: flex;
    height: 100%;
    align-content: center;
    flex-wrap: wrap;
}


#abrir_menu, #cerrar_menu {
    display: none;
    border: none;
    background: none;
}

#cerrar_menu {
    filter: invert(100%);
}

.nav__list {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.nav__btn {
    /* border: 1px solid pink; */
    width: 6em;
    text-align: center;
}

.btn__link {
    position: relative;
    color: black;
}
                         /* EFECTO NAV_BTN */
.btn__link::after {
    content: '';
    position: absolute;
    width: 100%;
    left: 0;
    bottom: -0.2em;
    height: 0.1em;
    background-color: var(--main-font-link);
    transform: scale(0);
    transition: all 250ms ease-in-out;
}

.btn__link:hover {
    font-weight: 600;
} 

.btn__link:hover::after {
    transform: scale(1);
} 

.shop--container {
    position: relative;;
    display: flex;
    width: 10em;
    justify-content: right;
    align-items: center;
    object-fit: cover;
    gap: 0.8em;
}

#contador-carrito {
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -0.7em;
    right: -0.7em;
    margin: auto;
    width: 1.7em;
    height: 1.7em;
    border-radius: 50px;
    font-size: 0.7em;
    font-weight: 500;
    color: var(--alt-navbar-color);
    pointer-events: none;
}

.shop--container:nth-child(3){
    font-weight: 600;
    height: 20px;
}

.shop__item .img__login {
    width: 1.2em;
}

.img__cart {
    width: 1.5em;
}
    

/*  MAIN */

.text--wrapper {
    color: var(--alt-font-color);
    display: flex;
    max-width: 1920px;
    margin: 0 auto;
    justify-content: flex-start;
    background-color: #EA5455;
    padding: 0.4em 0; 
    overflow: hidden;
}

.animated__text {
    font-size: 150%;
    font-weight:700;
    font-style: oblique;
    white-space: nowrap;
    padding: 0 2em;
    letter-spacing: 1.5px;
    animation: move-right-left 6000ms linear infinite;
}

@keyframes move-right-left {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }  
}

.main--section {
    margin-bottom: 5em;
}

.main--section--container {
    
    display: grid;
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    height: 35em;
    grid-template-areas: 'carousel top'
                        'carousel bottom';
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: 2fr 1fr;    
}

/*  Carousel Container */
.carousel--main--section {
    grid-area: carousel;
    position: relative;
    width: 100%; 
    height: 100%;
}

.carousel__track-container {
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.carousel__track {
    display: flex;
    width: 300%;
    height: 100%;
    margin-left: -100%;
    left: 0;
}

.carousel__slide {
    height: 100%;
    width: 100%;
}


.carousel__img {
    display: block; 
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carousel__button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    background: transparent;
    border: 0;
    cursor: pointer;
}

.carousel__button--left {
    left: 0;
}

.carousel__button--right {
    right: 0;
}

.carousel__button img {
    width: 2.2em;
    filter: invert(90%);
    opacity: 0.70;
}

.carousel__button img:hover {
    opacity: 1;
}


.top--main--section {
    grid-area: top;
    display: grid;
    justify-content: strech;
    align-items: center;
    align-content: end;
}

.top--main--section h2 {
    font-size: 4em;
    margin: 8% 12% 1em;
    position: relative;
}

.top--main--section h2::after {
    position: absolute;
    content: '';
    background-color: var(--main-font-link);
    height: 0.1em;
    width: 35%;
    left: 0;
    bottom: -0.3em
}

.top--main--section p {
    font-size: 1.2em;
    margin: 0 12% 2.5em;
    font-weight: 300;
}

.bottom--main--section {
    grid-area: bottom;
}

.shop__btn {
    display: inline-block;
    /* border-radius: 2px; */
    color: var(--alt-font-color);
    background-color: var(--primary--button);
    font-size: 1.3em;
    font-weight: 700;
    margin-left: 12%;
    padding: 0.7em 1.5em;
    cursor: pointer;
    transition: all 150ms ease-in-out;
}

.shop__btn:hover {
    background-color: var(--primary--button--hover);
}

/* BRAND SECTION */
.brand--title {
    text-align: center;
    margin: 0 0 4em;
}

.brand__text {
    font-size: 2em;
    font-weight: 400;
}

.brand--grid {

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 2fr));
    flex-wrap: wrap;
    justify-items:center;
    padding: 0 1em;
    max-width: 1920px;
    margin: 0 auto  5em auto;
}

.brand--box {
    transition: transform 150ms ease-in-out;
} 

.brand--box:hover {
    transform: scale(1.1);
}

.brand--box img {
    width: 100%;
    object-fit: cover;
}


/* newsletter section */
.subscribe--container {
    border-top: 1px solid lightgrey;
    position: relative;
    height: 15em;
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
}

.subscribe--form {
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    max-width: 40em;
}

.subscribe--form h2 {
    font-size: 1.4em;
    font-weight: 500;
    text-align: center;
    margin-bottom: 1.5em;
}

.subscribe--email {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: space-around;
    flex-flow: row wrap;
    margin-bottom: 1.5em;
    width: 100%;
}

.subscribe--email #email {
    outline: none;
    border: 1px solid lightgray;
    border-radius: 5px 0 0 5px;
    padding: 0.7em 0 0.7em 1.6em;
    flex-grow: 2;
}

.subscribe--email #submit {
    border: 1px solid #000000;
    color: var(--alt-font-color);
    background-color: #000000;
    border-radius: 0 5px 5px 0;
    padding: 0.7em 3em;
    cursor: pointer;
    transition: all 150ms ease-in-out;
}

.subscribe--email #submit:hover {
    background-color: rgb(58, 58, 59);
    border: 1px solid  rgb(58, 58, 59);
}

.subscribe--checkbox  {
    display: flex;
    align-items: center;
    font-size: 0.8em;
    gap: 0.5em;
}

/* AGREGAR :HOVER para checkbox */

/* FOOTER */

.footer--container {
    background-color: #000000;
    color: var(--alt-font-color);
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
}

.grid--footer--container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 0 3em;
    margin: 0 auto;
    height: 12rem;
    width: 90%;
    gap: 3em;
}

.grid__column {
    margin-top: 3em;  
}

.grid__column-title {
    margin-bottom: 0.5em;
    font-size: 0.9em;
}

.grid__column-item a {
    color: var(--alt-font-color);
    font-size: 0.8em;
}

.grid__column--split {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.column--social ul, .column--payment ul {
    display: flex;
    padding: 0.3em 0;
    gap: 0.8em;
}

.card--img,.social--img {
    height: 1.7em;
}

.bottom--fotter {
    text-align: center;
    padding: 2em 0 1em 0;
}

@media only screen and (max-width: 680px) {
    
    /* header section */

    .logo__img{
        top: 27px;
    }
    
     .nav--container {
        opacity: 0;
        visibility: hidden;
    }

    #abrir_menu, #cerrar_menu{
        display: block;
        border: none;
        width: 60px;
    } 

    #abrir_menu img{
        background: none;
        width: 30px;
    }

    #cerrar_menu img{
        background: none;
        width: 20px;
    }

    #cerrar_menu{
        position: relative;
        left: 20px;
    }


    .shop--container{
        gap: 9%;
        width: 45em;
    }

    .nav {
        display: flex;
        position: absolute;
        flex-direction: column;
        align-items: end;
        gap: 2rem;
        top: 0;
        right: 0;
        background-color: #1f1f1f;
        padding: 2rem;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5);
        height: 100vh;
        width: 40%;
        opacity: 1;
    }

    @keyframes myAnim {
        0% {
            opacity: 0;
        }
    
        100% {
            opacity: 1;
        }
    }

    .nav--container.visible{
        opacity: 1;
        visibility: visible;
        animation: myAnim 1s cubic-bezier(0.33, 1, 0.68, 1) 0s 1 alternate forwards;
    }

    .nav__list{
        flex-direction: column;
        align-items: end;
        gap: 1.4rem;
    }

    .nav__btn{
        text-align: right;
        
    }

    .btn__link{
        color: #ffffff;
        font-size: 1.1rem;
    }
    


    /* Main section */
    .main--section--container {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        text-align: center;
        height: 100%;
    }

    .carousel--main--section {
        height: 50vh;
    }

    .carousel__track {
        position: relative;
    }
    .carousel__track-container {
        width: 100%;
        height: 100%;
    }

    .carousel__img {
        width: 100%;
        object-fit: cover;    
    }

    .top--main--section, .bottom--main--section {
        width: 100%;
    }
    .top--main--section h2 {
        font-size: 2.9em;
        letter-spacing: 0em;
        text-align: center;
        padding: 0 0.4em;
        margin: 1em 0;
    }
    .top--main--section h2::after {
        left: 30%;
        bottom: -0.5em;
    }

    .top--main--section p {
        margin: 0;
        padding: 0 0.4em;
        margin-bottom: 2em;
    }

    .shop__btn {
        margin: 0;
    }
    .subscribe--section {
        height: 60vh;
    }

    .subscribe--container {
        height: 100%;
    }

    .subscribe--email {
        gap: 1em;
    }
    .subscribe--email button#submit, .subscribe--email input#email {
        border-radius: 5px;
        width: 100%;
    }   

    /* footer */
    .footer--container {
        width: 100%;
    }

    .grid--footer--container {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
        width: 100%;
        gap: 0;
        margin: 0 auto;
        padding: 0;
    }

    .grid__column {
        height:100%;
    }

    .grid__column-title,.grid__column-item {
        text-align: center;
        line-height: 1.5rem;
    }

    .column--social {
        margin-bottom: 1em ;
    }

    .column--social ul {
        justify-content: space-between;
    }

    .bottom--fotter {
        padding-bottom: 2em;
    }

}



