<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>runthecode | Carrito</title>
    <link rel="shortcut icon" href="img/ico_sneaker_2.ico" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;700;800;900&display=swap"
    rel="stylesheet">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./css/carrito.css">
    <script src="https://unpkg.com/vue@^3.4.0"></script>

</head>

<body>
    <header>
        <div class="header--container">
            <div class="logo--container">
                <a href="./index.html">
                    <img class="logo__img" src="img/logo.svg" alt="Sneakers Logo">
                </a>
            </div>

            <div class="nav--container">
                <nav class="nav">
                    <button id="cerrar_menu"><img src="./img/hamburguesa_close.svg" alt=""></button>
                    <ul class="nav__list">
                        <li class="btn nav__btn"><a class="btn__link" href="./index.html">HOME</a></li>
                        <li class="btn nav__btn"><a class="btn__link" href="./shop.html">SHOP</a> </li>
                        <li class="btn nav__btn"><a class="btn__link" href="./about.html">TIENDAS</a></li>
                        <li class="btn nav__btn"><a class="btn__link" href="./contact.html">CONTACTO</a></li>
                    </ul>
                </nav>
            </div>
            <div class="shop--container">
                <a href="./inventario.html" class="shop__item"><img class="img__login" src="img/ico_user.png" alt="login"></a>
                <p>|</p>
                <div id="contador-carrito" v-if="mostrarContador">{{sumarItems()}}</div>
                <a href="./carrito.html" class="shop__item"><img class="img__cart" src="img/ico_shopping_cart.png" alt="cart"></a>
                <button id="abrir_menu"><img src="./img/hamburguesa_open.svg" alt=""></button>
            </div>
        </div>
    </header>
    <div id="app">
        <table>
        </table>
        <div v-if="mostrarCarrito">
            <h3>Productos en el carrito:</h3>
            <table>
                <thead>
                    <tr>
                        <th>Imagen</th>
                        <th>Producto</th>
                        <th>Cantidad</th>
                        <th>Total</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="item in carrito" :key="item.id">
                        <td><img :src="item.img" :alt="'Imagen del producto ' + item.name" style="width: 5em;"></td>
                        <td>{{ item.name }}</td>
                        <td align="center">
                            <div class="contador-cantidad">
                                <button @click="restarDelCarrito(item)">-</button>
                                <span>{{ item.itemsLeft }}</span>
                                <button @click="agregarAlCarrito(item)">+</button>
                            </div>
                        </td>
                        <td align="center">{{item.itemsLeft * item.price}} €</td>
                    </tr>
                   
                </tbody>
            </table>
            <p v-if="carrito.length === 0">No hay productos en el carrito 😔</p>
            <div class="total--container">
                <h4 class="total-pedido__text">TOTAL PEDIDO:</h4>
                <p  class="total-pedido__cant">{{sumarPrecios()}} €</p>
            </div>
        </div>

        <div class="contenedor-centrado">
            <a href="index.html">Menu principal</a>
        </div>
    </div>
    <script src="./js/script.js"></script>
    <script src="./js/carrito.js"></script>

</body>

</html>