<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>runthecode | carrito</title>
    <script src="https://unpkg.com/vue@next"></script>
    <title>runthecode | Tienda</title>
    <link rel="shortcut icon" href="img/ico_sneaker_2.ico" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;700;800;900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./css/carrito.css">
</head>

<body>
    <header>
        <div class="header--container">
            <div class="logo--container">
                <a href="./index.html">
                    <img class="logo__img" src="img/logo.svg" alt="Sneakers Logo">
                </a>
            </div>

            <div class="nav--container">
                <nav class="nav">
                    <button id="cerrar_menu"><img src="./img/hamburguesa_close.svg" alt=""></button>
                    <ul class="nav__list">
                        <li class="btn nav__btn"><a class="btn__link" href="./index.html">HOME</a></li>
                        <li class="btn nav__btn"><a class="btn__link" href="./shop.html">SHOP</a> </li>
                        <li class="btn nav__btn"><a class="btn__link" href="./about.html">TIENDAS</a></li>
                        <li class="btn nav__btn"><a class="btn__link" href="./contact.html">CONTACTO</a></li>
                    </ul>
                </nav>
            </div>
            <div class="shop--container">
                <a href="" class="shop__item"><img class="img__login" src="img/ico_user.png" alt="login"></a>
                <p>|</p>
                <a href="./carrito.html" class="shop__item"><img class="img__cart" src="img/ico_shopping_cart.png"
                        alt="cart"></a>
                <button id="abrir_menu"><img src="./img/hamburguesa_open.svg" alt=""></button>
            </div>
        </div>
    </header>
    <div id="app">
        <table>
        </table>
        <div v-if="mostrarCarrito">
            <h3>Productos en el carrito:</h3>
            <table>
                <thead>
                    <tr>
                        <th>Imagen</th>
                        <th>Producto</th>
                        <th>Precio</th>
                        <th>Cantidad</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="item in carrito" :key="item.id">
                        <td><img :src="item.img" :alt="'Imagen del producto ' + item.name" style="width: 5em;"></td>
                        <td>{{ item.name }}</td>
                        <td align="center">{{ item.price }}</td>
                        <td align="center">
                            <div class="contador-cantidad">
                                <button @click="restarDelCarrito(item)">-</button>
                                <span>{{ item.itemsLeft }}</span>
                                <button @click="agregarAlCarrito(item)">+</button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <p v-if="carrito.length === 0">No hay productos en el carrito 😔</p>
        </div>
        <div class="contenedor-centrado">
            <a href="index.html">Menu principal</a>
        </div>
    </div>
    <script>
        const URL = "https://jaguero.pythonanywhere.com/"
        const app = Vue.createApp({
            data() {
                return {
                    productos: [],
                    mostrarCarrito: false,
                    carrito: [],
                }
            },
            created() {
                this.obtenerProductos();
            },
            mounted() {
                this.obtenerCarrito();
            },
            methods: {
                obtenerProductos() {
                    fetch(URL + 'runthecode/productos')
                        .then(response => response.json())
                        .then(data => {
                            this.productos = data
                        })
                        .catch(error => {
                            console.error(URL + 'runthecode/productos', error)
                            alert('Error al obtener los productos.')
                        })
                },
                agregarAlCarrito(producto) {
                    fetch(URL + 'runthecode/carrito', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                        },
                        body: JSON.stringify({
                            id: producto.id,
                            itemsLeft: 1, // Agregamos una unidad al carrito
                        }),
                    })
                        .then(response => response.json())
                        .then(data => {
                            alert(data.message);
                            // Actualizamos el carrito después de agregar un producto
                            this.obtenerCarrito();
                            this.obtenerProductos();
                        })
                        .catch(error => {
                            console.error('Error al agregar el producto al carrito:', error);
                            alert('Error al agregar el producto al carrito.');
                        });
                },
                restarDelCarrito(producto) {
                    fetch(URL + 'runthecode/carrito', {
                        method: 'DELETE',
                        headers: {
                            'Content-Type': 'application/json',
                        },
                        body: JSON.stringify({
                            id: producto.id,
                            itemsLeft: 1, // Restamos una unidad del carrito
                        }),
                        mode: 'cors',
                    })
                        .then(response => response.json())
                        .then(data => {
                            alert(data.message);
                            // Actualizamos el carrito después de eliminar un producto
                            this.obtenerCarrito();
                            this.obtenerProductos();
                        })
                        .catch(error => {
                            console.error('Error al restar el producto del carrito:', error);
                            alert('Error al restar el producto del carrito.');
                        });
                },
                obtenerCarrito() {
                    fetch(URL + 'runthecode/carrito')
                        .then(response => response.json())
                        .then(data => {
                            this.carrito = data
                            this.mostrarCarrito = true
                        })
                        .catch(error => {
                            console.error('Error al obtener el carrito:', error)
                            alert('Error al obtener el carrito.')
                        })
                },
            },

        })
        app.mount('#app')
    </script>
</body>

</html>