<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>runthecode | Tienda</title>
    <link rel="shortcut icon" href="img/ico_sneaker_2.ico" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;700;800;900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/shop.css">
    <script src="https://unpkg.com/vue@next"></script>
</head>

<body>
    <header>
        <div class="header--container">
            <div class="logo--container">
                <a href="./index.html">
                    <img class="logo__img" src="img/logo.svg" alt="Sneakers Logo">
                </a>
            </div>
            <div class="nav--container">
                <nav class="nav">
                    <button id="cerrar_menu"><img src="./img/hamburguesa_close.svg" alt=""></button>
                    <ul class="nav__list">
                        <li class="btn nav__btn"><a class="btn__link" href="./index.html">HOME</a></li>
                        <li class="btn nav__btn"><a class="btn__link" href="./shop.html">SHOP</a> </li>
                        <li class="btn nav__btn"><a class="btn__link" href="./about.html">TIENDAS</a></li>
                        <li class="btn nav__btn"><a class="btn__link" href="./contact.html">CONTACTO</a></li>
                    </ul>
                </nav>
            </div>
            <div class="shop--container">
                <a href="" class="shop__item"><img class="img__login" src="img/ico_user.png" alt="login"></a>
                <p>|</p>
                <div id="contador-carrito" v-if="mostrarContador">{{sumarItems()}}</div>
                <a href="./carrito.html" class="shop__item"><img class="img__cart" src="img/ico_shopping_cart.png"
                        alt="cart"></a>
                <button id="abrir_menu"><img src="./img/hamburguesa_open.svg" alt=""></button>
            </div>
        </div>
    </header>
    <main>
        <!--========= meto section de searchbar en el main ================-->
        <section class="searchbar_wrapper">
            <div class="fondo">
                <img src="/img/web_nb_sneaker_1.jpg" alt="">
                <div class="searchbar">
                    <input type="text" placeholder="Buscá tu modelo">
                    <img src="" alt="">
                </div>
                <div class="searchbar__filtros">
                    <ul>
                        <li>Todos</li>
                        <li>Masculino</li>
                        <li>Femenino</li>
                        <li>De vestir</li>
                        <li>Deportivas</li>
                    </ul>
                </div>
            </div>
        </section>
        <!-- ===== julian: creo que quedaria mejor usar div para estos botones y no una section completa ===== -->
        <section class="botones_filtro">
            <button>Filtros</button>
            <button>Ordenar</button>
        </section>
        <section class="filtro-cards--container">
            <div class="filtro_wrapper--container">
                <div class="filtro_wrapper">
                    <div class="lista_filtro"></div>
                    <h4>Categoría</h4>
                    <ul>
                        <li>Sneakers</li>
                        <li>Deportivas</li>
                    </ul>
                    <div class="lista_filtro">
                        <h4>Marca</h4>
                        <ul>
                            <li>Adidas</li>
                            <li>Converse</li>
                            <li>Nike</li>
                            <li>New Balance</li>
                        </ul>
                    </div>
                    <div class="lista_filtro">
                        <h4>Talle</h4>
                        <ul>
                            <li>4</li>
                            <li>4.5</li>
                            <li>5.5</li>
                            <li>6</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="grid_wrapper_products">

                <div class="product_container">
                    <div class="card_product" v-for="producto in productos" :key="producto.id"
                        @click="verProducto(producto)">
                        <img :src="producto.img" :alt="'Imagen del producto ' + producto.name">
                        <p class="marca">{{producto.brand}}</p>
                        <p class="modelo">{{producto.name}}</p>
                        <p class="precio">{{producto.price}} €</p>
                        <!-- <div class="contador">
                            <button class="btn-decrement">-</button>
                            <span class="cantidad">0</span>
                            <button class="btn-increment">+</button>
                        </div> -->
                        <!-- <button class="btn-agregar-carrito" @click="verProducto(producto)">Agregar al carrito</button> -->
                    </div>

                    <div class="showproduct__modal--container" v-if="abrirModal" @click="abrirModal = false">
                        <div class="modal__card">
                            <img class="img__modal" :src="productoSeleccionado.img"
                                :alt="'Imagen del producto ' + productoSeleccionado.name">
                            <div class="info__modal">
                                <button class="btn-close__modal" @click="abrirModal = false">×</button>
                                <h3 class="brand-info__modal">{{productoSeleccionado.brand}}</h3>
                                <h2 class="name-info__modal">{{productoSeleccionado.name}}</h2>
                                <p class="text-info__modal">{{productoSeleccionado.price}} €</p>
                                <p class="description-info__modal">{{productoSeleccionado.description}}</p>
                                <button class="btn-info__modal" @click="agregarAlCarrito(productoSeleccionado)">Agregar
                                    al carrito</button>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer>
        <div class="footer--container">
            <div class="grid--footer--container">
                <div class="grid__column">
                    <h4 class="grid__column-title">ASISTENCIA</h3>
                        <ul>
                            <li class="grid__column-item"><a href="#">Ayuda y Servicio al Cliente</a></li>
                            <li class="grid__column-item"><a href="#">Seguimiento de Pedidos</a></li>
                            <li class="grid__column-item"><a href="#">Cambios y Devoluciones</a></li>
                            <li class="grid__column-item"><a href="#">Contacto</a></li>
                        </ul>
                </div>
                <div class="grid__column">
                    <h4 class="grid__column-title">POLITICAS</h3>
                        <ul>
                            <li class="grid__column-item"><a href="#">Condiciones Generales</a></li>
                            <li class="grid__column-item"><a href="#">Politica de Privacidad</a></li>
                            <li class="grid__column-item"><a href="#">Politica de Cookies</a></li>
                            <li class="grid__column-item"><a href="#">Terminos de Uso</a></li>
                        </ul>
                </div>
                <div class="grid__column grid__column--split">
                    <div class="column--social">
                        <h4 class="grid__column-title">SEGUINOS</h3>
                            <ul>
                                <li class="grid__column-item"><a href="#"><img class="social--img"
                                            src="img/ico_instagram_white.svg" alt="Instagram"></a></li>
                                <li class="grid__column-item"><a href="#"><img class="social--img"
                                            src="img/ico_facebook_white.svg" alt="Facebook"></a></li>
                                <li class="grid__column-item"><a href="#"><img class="social--img"
                                            src="img/ico_youtube_white.svg" alt="Youtube"></a></li>
                                <li class="grid__column-item"><a href="#"><img class="social--img"
                                            src="img/ico_whatsapp_white.svg" alt="Whatsapp"></a></li>
                            </ul>
                    </div>
                    <div class="column--payment">
                        <h4 class="grid__column-title">MEDIOS DE PAGO</h3>
                            <ul>
                                <li class="grid__column-item"><img src="img/ico_visa.webp" alt="visa"
                                        class="img card--img"></li>
                                <li class="grid__column-item"><img src="img/ico_mastercard.webp" alt="mastercard"
                                        class="img card--img"></li>
                                <li class="grid__column-item"><img src="img/ico_paypal.webp" alt="paypal"
                                        class="img card--img"></li>
                            </ul>
                    </div>
                </div>
            </div>
            <div class="bottom--fotter">
                <h4>© SNEAKER STORE, SL - Todos los derechos reservados</h4>
            </div>
        </div>
    </footer>

    <script src="./js/script.js"></script>
    <script src="./js/products-vue.js"></script>
</body>

</html>